.home-container {
  margin: 0 auto;
  margin-top: var(--margin-top-header-mobile);
  margin-bottom: var(--margin-bottom-header-mobile);
  max-width: var(--max-width-content-mobile);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
